@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
  font-family: 'Urbanist', sans-serif;
  overflow-x: hidden;
}
a:hover{
    text-decoration: none !important;
}
img {
    max-width: 100%;
}
.form-control:focus {
    outline: none !important;;
    box-shadow: none !important;
    border-color: #a9a9a9!important;
}
.btn:focus{
  outline: none !important;;
  box-shadow: none !important;
}
.screen-shot-2023-05-26-at-650 {
  position: relative;
  width: 136px;
  height: 38px;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.header .dropdown-toggle:after{
  content: none;
}
.header a#navbarDropdown,
.header a.nav-link {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    color: var(--secondary);
}
.navigation-actions a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    color: var(--secondary);
}
.navigation-actions a.active,
.navigation-actions a:hover{
  color: #fff;
  background: #0E83FF;
}
.text {
  position: relative;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 600;
}
.button {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.chevron-down-icon {
  position: relative;
  width: 20px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.content,
.dropdown-header-navigation-tri,
.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dropdown-header-navigation-tri {
  flex-direction: column;
  padding: var(--padding-9xs) 0;
}
.content,
.navigation {
  flex-direction: row;
}
.navigation {
  gap: 55px;
}
.content {
  width: 491px;
  gap: var(--gap-21xl);
}
.placeholder-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button7 {
  border-radius: var(--br-5xs);
  overflow: hidden;
  padding: var(--padding-3xs) 18px;
  gap: var(--gap-5xs);
}
.button7,
.buttonprimarywith-icon1,
.sign-up-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonprimarywith-icon1 {
  border-radius: var(--br-5xs);
  background-color: var(--color-dodgerblue);
  border: 1px solid var(--color-dodgerblue);
  box-sizing: border-box;
  width: 130px;
  height: 50px;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-5xl);
}
.buttonprimarywith-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: right;
  color: var(--sky-white);
}
.navigation-actions1 {
  gap: var(--gap-xs);
}
.navigation-actions,
.navigation-actions1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.container {
  width: 1440px;
  box-sizing: border-box;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0px 15px;
  min-width: 100%;
}
.dropdown-header-navigation,
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header {
  height: 80px;
}
.dropdown-header-navigation {
  background-color: var(--sky-white);
  box-shadow: 0 5px 8px rgba(72, 154, 237, 0.05),
    0 6px 22px rgba(72, 154, 237, 0.02);
  border-bottom: 0.5px solid rgba(203, 217, 237, 0.25);
  box-sizing: border-box;
}
.section-child {
  position: absolute;
  top: 44px;
  left: 0;
  width: 1383px;
  height: 548px;
}
.powerful-intuitive {
  margin: 0;
}
.span {
  color: #2a9d8f;
}
.system-for {
  color: var(--sky-white);
}
.booking-management-system-for,
.clinics {
  color: var(--color-mediumpurple);
}
.booking-management-system-for {
  margin: 0;
}
.heading {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 60px;
}
.supporting-text {
  position: relative;
  font-size: var(--text-sm-size);
  letter-spacing: 0.04em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 480px;
}
.heading-and-supporting-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.play-circle-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.button8 {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  box-shadow: var(--shadow-xs);
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-9xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
}
.iconoutlinearrow-right {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.buttonprimarywith-icon3,
.get-started-parent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-started-parent {
  flex-direction: row;
  gap: 9px;
}
.buttonprimarywith-icon3 {
  border-radius: var(--br-5xs);
  background-color: var(--color-dodgerblue);
  width: 158px;
  height: 60px;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
}
.buttonprimarywith-icon2 {
  width: 158px;
  height: 60px;
  flex-direction: column;
  color: var(--sky-white);
}
.actions,
.buttonprimarywith-icon2,
.content1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions {
  flex-direction: row;
  gap: var(--gap-xs);
  text-align: right;
  font-size: var(--heading-xs-size);
  color: var(--color-midnightblue-100);
}
.content1 {
  position: absolute;
  top: 110px;
  left: 177px;
  width: 675px;
  flex-direction: column;
  padding: 0 var(--padding-13xl) 0 0;
  box-sizing: border-box;
  gap: 48px;
}
.pagination-dot-indicator,
.pagination-dot-indicator1,
.pagination-dot-indicator3 {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumpurple);
  width: 10px;
  height: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.pagination-dot-indicator1,
.pagination-dot-indicator3 {
  background-color: var(--gray-300);
}
.pagination-dot-indicator3 {
  display: none;
}
.pagination-dot-group {
  position: absolute;
  top: 524px;
  left: 1285px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.screen-shot-2023-05-23-at-959 {
  position: absolute;
  top: 135px;
  left: -75px;
  border-radius: var(--br-xl);
  width: 315px;
  height: 515px;
  object-fit: cover;
}
.image {
  position: absolute;
  top: 64px;
  left: 741px;
  border-radius: 160px 0 70px 0;
  width: 509px;
  height: 550px;
  background-image: url(./public/image@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.section,
.text5 {
  align-self: stretch;
  position: relative;
}
.section {
  height: 708px;
  font-size: 50px;
  color: var(--sky-white);
}
.text5 {
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 600;
}
.image-10-icon {
  position: relative;
  width: 104.92px;
  height: 50px;
  object-fit: cover;
}
.image-6-icon,
.image-7-icon,
.image-8-icon {
  position: relative;
  width: 181.62px;
  height: 35px;
  object-fit: cover;
}
.image-7-icon,
.image-8-icon {
  width: 121px;
  height: 68.09px;
}
.image-7-icon {
  width: 198px;
  height: 35px;
}
.company-logo-icon {
  position: relative;
  width: 121px;
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
}
.image-9-icon {
  position: relative;
  width: 156px;
  height: 32.1px;
  object-fit: cover;
}
.logos {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container1,
.social-proof-section {
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
}
.container1 {
  width: 1280px;
  flex-direction: column;
  padding: 0 var(--padding-13xl);
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.social-proof-section {
  align-self: stretch;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 8.04%, #f5f5f5);
  height: 168px;
  flex-direction: row;
  padding: 0 0 var(--padding-77xl);
  justify-content: center;
  text-align: center;
  color: var(--gray-700);
}
.heading1,
.hero-header-section {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.hero-header-section {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--heading-xs-size);
}
.heading1 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 130%;
  font-weight: 600;
  justify-content: center;
  width: 806px;
  height: 27px;
}
.heading-and-subheading {
  width: 760px;
  height: 27px;
  flex-direction: column;
}
.heading-and-subheading,
.heading-and-subheading1,
.heading2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading2 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 10px;
  width: 806px;
  height: 71px;
  flex-shrink: 0;
}
.heading-and-subheading1 {
  width: 769px;
  flex-direction: column;
  font-size: var(--heading-xl-size);
}
.heading-and-subheading-parent {
  width: 766px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.supporting-text1 {
  position: relative;
  font-size: var(--text-sm-size);
  letter-spacing: 0.04em;
  line-height: 140%;
  font-weight: 500;
  color: var(--gray-700);
  display: inline-block;
  width: 765px;
}
.heading-and-supporting-text1 {
  width: 768px;
  align-items: center;
  gap: var(--gap-xl);
}
.container2,
.content2,
.heading-and-supporting-text1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.content2 {
  align-self: stretch;
  align-items: center;
}
.container2 {
  width: 1280px;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
}
.features-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-61xl) 0 0 var(--br-61xl);
  background: linear-gradient(
    -27.3deg,
    #f5f5f5,
    rgba(245, 245, 245, 0) 51.23%,
    rgba(249, 250, 253, 0.6)
  );
  width: 640px;
  height: 820px;
}
.secure-payments-1 {
  position: absolute;
  top: 144px;
  left: 724px;
  border-radius: var(--br-5xl);
  width: 491px;
  height: 450px;
  object-fit: cover;
}
.iphone-12-pro-mockup {
  position: absolute;
  top: 97.97px;
  left: 1079.97px;
  width: 243.14px;
  height: 400.41px;
}
.featured-icon {
  position: relative;
  border-radius: var(--br-9xl);
  width: 49px;
  height: 49px;
}
.real-time-booking {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 120%;
}
.featured-icon-parent {
  width: 356px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.arrow-down-icon {
  position: relative;
  width: 32px;
  height: 32px;
}
.frame-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xs);
}
.frame-wrapper {
  border-radius: var(--br-xl);
  background-color: var(--sky-white);
  box-shadow: 0 8px 24px rgba(119, 119, 119, 0.09);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 475px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-lgi) var(--padding-16xl);
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.5s;
}
.featured-icon-container {
  width: 356px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.frame-parent,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-wrapper1 {
  border-radius: var(--br-xl);
  background-color: var(--sky-white);
  box-shadow: 0 8px 12px rgba(14, 131, 255, 0.08);
  border: 1px solid var(--color-cornflowerblue);
  box-sizing: border-box;
  width: 475px;
  overflow: hidden;
  padding: var(--padding-lgi) var(--padding-16xl);
}
.frame-parent {
  position: absolute;
  top: 96px;
  left: 59px;
  gap: 18px;
}
.with-advanced-security {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  height: 116px;
  flex-shrink: 0;
}
.with-advanced-security-measure-wrapper {
  position: absolute;
  top: 606px;
  left: 744px;
  width: 449px;
  height: 154px;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--text-sm-size);
  color: var(--gray-700);
}
.features1 {
  position: relative;
  border-radius: var(--br-61xl);
  background-color: var(--sky-white);
  box-shadow: 0 5px 8px rgba(72, 154, 237, 0.05);
  width: 1280px;
  height: 820px;
  text-align: left;
  font-size: var(--heading-sm-size);
}
.features {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--heading-med-size);
}
.heading3 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 10px;
  display: inline-block;
  width: 882px;
  height: 39px;
  flex-shrink: 0;
}
.heading-and-subheading2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.supporting-text2 {
  align-self: stretch;
  position: relative;
  font-size: var(--text-sm-size);
  letter-spacing: 0.04em;
  line-height: 140%;
  font-weight: 500;
  color: var(--gray-700);
}
.container3,
.heading-and-supporting-text2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.heading-and-supporting-text2 {
  width: 768px;
  align-items: center;
  gap: var(--gap-16xl);
}
.container3 {
  width: 1280px;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  text-align: center;
  font-size: var(--heading-xl-size);
  color: var(--secondary);
}
.chain-booking {
  position: relative;
  line-height: 120%;
  display: inline-block;
  width: 354px;
  flex-shrink: 0;
}
.heading-and-supporting-text3,
.icon-and-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-and-text {
  align-items: flex-end;
  font-size: var(--heading-lg-size);
  color: var(--secondary);
}
.supporting-text3 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 532px;
}
.check-icon {
  position: relative;
  border-radius: var(--br-sm);
  width: 28px;
  height: 28px;
  overflow: hidden;
  flex-shrink: 0;
}
.text6 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 140%;
  font-weight: 500;
}
.check-item-text,
.text-wrap {
  display: flex;
  justify-content: flex-start;
}
.text-wrap {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.check-item-text {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-xs);
}
.text8 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 476px;
}
.check-items,
.content4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.check-items {
  align-self: stretch;
  padding: 0 0 0 var(--padding-base);
  gap: var(--gap-xl);
}
.content4 {
  flex: 1;
  gap: var(--gap-13xl);
}
.screen-shot-2023-05-23-at-150,
.screen-shot-2023-05-23-at-719 {
  position: absolute;
  top: 42px;
  left: 117px;
  border-radius: var(--br-xl);
  width: 866px;
  height: 640px;
  object-fit: cover;
}
.screen-shot-2023-05-23-at-150 {
  top: 76px;
  left: 36px;
  width: 278px;
  height: 408px;
}
.mockup-wrap {
  position: absolute;
  height: 100%;
  top: -0.09px;
  bottom: 0.09px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--primary);
  width: 768px;
  overflow: hidden;
}
.content5 {
  flex: 1;
  position: relative;
  height: 512px;
}
.container4 {
  width: 1280px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-41xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-77xl);
}
.mockup-wrap1 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-ghostwhite);
  width: 768px;
  overflow: hidden;
}
.screen-shot-2023-05-23-at-7191 {
  position: absolute;
  top: 37.82px;
  left: 212px;
  width: 866px;
  height: 640px;
}
.personalize-each-interaction {
  position: relative;
  line-height: 120%;
  display: inline-block;
  width: 439px;
  flex-shrink: 0;
}
.check-item-text4,
.icon-and-text1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon-and-text1 {
  flex-direction: column;
  font-size: var(--heading-lg-size);
  color: var(--secondary);
}
.check-item-text4 {
  flex-direction: row;
  gap: var(--gap-xs);
}
.text11 {
  position: relative;
  letter-spacing: 0.04em;
  line-height: 140%;
  font-weight: 500;
  display: inline-block;
  width: 504px;
}
.container5 {
  width: 1280px;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-77xl);
}
.features-section,
.heading4 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.features-section {
  align-self: stretch;
  overflow: hidden;
  flex-direction: column;
  padding: 70px 0;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 60px;
  font-size: var(--text-sm-size);
  color: var(--gray-700);
}
.heading4 {
  position: relative;
  letter-spacing: 0.01em;
  line-height: 10px;
  justify-content: center;
  width: 882px;
  height: 47px;
}
.heading-and-supporting-text5 {
  width: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 0;
}
.star-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.quote,
.supporting-text6,
.text15 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 44px;
  font-weight: 500;
}
.supporting-text6,
.text15 {
  letter-spacing: 0.03em;
  line-height: 28px;
}
.supporting-text6 {
  font-size: var(--heading-xs-size);
  line-height: 24px;
  color: var(--gray-500);
}
.text-and-supporting-text {
  align-self: stretch;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  font-size: var(--heading-med-size);
  color: var(--gray-900);
}
.content11,
.quote-and-attribution,
.text-and-supporting-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.quote-and-attribution {
  width: 600px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.content11 {
  width: 789px;
  height: 501px;
  padding: var(--padding-45xl);
  box-sizing: border-box;
  justify-content: center;
}
.container7,
.content10 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
}
.content10 {
  border-radius: var(--br-5xl);
  background-color: var(--gray-50);
  width: 812px;
  height: 508px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 40px;
  justify-content: flex-start;
}
.container7 {
  width: 810px;
  height: 505px;
  padding: 0 var(--padding-13xl);
  justify-content: center;
  z-index: 1;
  text-align: left;
  font-size: var(--text-lg-size);
  color: var(--primary);
}
.chevron-down-icon2,
.chevron-down-icon3 {
  position: absolute;
  margin: 0 !important;
  top: 413px;
  left: 1176px;
  width: 43px;
  height: 42px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.chevron-down-icon3 {
  top: 414px;
  left: 221px;
  z-index: 3;
}
.quote-section {
  align-self: stretch;
  background-color: var(--sky-white);
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: var(--gap-21xl);
  text-align: center;
}
.image-2-icon {
  position: absolute;
  top: 66px;
  left: 850px;
  border-radius: var(--br-5xl);
  width: 442px;
  height: 426px;
  object-fit: cover;
  transition: all 0.2s;
}
.heading5 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 10px;
  display: flex;
  align-items: center;
  height: 34px;
  flex-shrink: 0;
}
.heading-and-supporting-text6 {
  width: 456px;
  height: 101px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.button9 {
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-100);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--blue);
  box-sizing: border-box;
  width: 167px;
  height: 60px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-9xl);
  align-items: center;
  justify-content: center;
}
.arrow-down-icon6 {
  position: relative;
  width: 23px;
  height: 23px;
}
.start-free-trial-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.buttonprimarywith-icon4,
.buttonprimarywith-icon5 {
  width: 211px;
  height: 60px;
  display: flex;
  flex-direction: column;
}
.buttonprimarywith-icon5 {
  border-radius: var(--br-5xs);
  background-color: var(--color-dodgerblue);
  padding: var(--padding-base) var(--padding-5xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.buttonprimarywith-icon4 {
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--sky-white);
}
.actions1 {
  flex-direction: row;
  gap: var(--gap-xl);
}
.actions-wrapper,
.actions1,
.content12 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.actions-wrapper {
  flex-direction: row;
  text-align: right;
  font-size: var(--heading-xs-size);
  color: var(--color-midnightblue-100);
}
.content12 {
  position: absolute;
  top: 174px;
  left: 144px;
  flex-direction: column;
  gap: var(--gap-21xl);
}
.cta-section {
  background-color: var(--color-ghostwhite);
}
.cta-section,
.heading6,
.supporting-text8 {
  align-self: stretch;
  position: relative;
}
.heading6 {
  letter-spacing: 0.01em;
  line-height: 10px;
  display: flex;
  align-items: center;
  height: 30px;
  flex-shrink: 0;
}
.supporting-text8 {
  font-size: var(--heading-med-size);
  letter-spacing: 0.03em;
  line-height: 28px;
  font-weight: 500;
  color: var(--gray-700);
}
.heading-and-supporting-text7 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.label,
.text16 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.label {
  display: none;
}
.text16 {
  flex: 1;
  letter-spacing: 0.02em;
}
.content14 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.help-icon {
  position: relative;
  width: 16px;
  height: 16px;
  display: none;
}
.input,
.input-with-label {
  align-self: stretch;
  height: 56px;
  display: flex;
  justify-content: flex-start;
}
.input {
  border-radius: var(--br-5xs);
  background-color: var(--sky-white);
  border: 1px solid var(--blue);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-xs) 14px;
  align-items: center;
  gap: var(--gap-5xs);
  color: var(--gray-500);
  font-family: var(--heading-xs);
}
.input-with-label {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.hint-text {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  letter-spacing: 0.02em;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--heading-xs);
  color: var(--gray-500);
}
.button10,
.input-field {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.button10 {
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumpurple);
  box-shadow: var(--shadow-xs);
  width: 142px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-xs) 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: right;
  font-size: var(--heading-xs-size);
  color: var(--sky-white);
  font-family: var(--heading-xs);
}
.content13,
.email-capture {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.email-capture {
  gap: var(--gap-base);
  font-size: var(--text-xxs-size);
  color: var(--gray-700);
  font-family: var(--text-sm-medium);
}
.content13 {
  align-self: stretch;
  gap: var(--gap-13xl);
}
.container8,
.newsletter-cta-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container8 {
  width: 1280px;
  padding: 0 var(--padding-13xl) 0 61px;
  box-sizing: border-box;
  align-items: flex-start;
}
.newsletter-cta-section {
  align-self: stretch;
  background-color: var(--gray-50);
  overflow: hidden;
  padding: var(--padding-77xl) 0;
  align-items: center;
}
.ninemd-logo-white-no-bold-1 {
  position: relative;
  width: 138px;
  height: 26px;
  object-fit: cover;
}
.heading7 {
  align-self: stretch;
  letter-spacing: 0.04em;
  line-height: 130%;
  font-weight: 600;
}
.heading7,
.text18,
.text20 {
  position: relative;
}
.text18 {
  letter-spacing: 0.04em;
  font-weight: 600;
}
.text20 {
  letter-spacing: 0.03em;
  line-height: 18px;
}
.badge-base {
  border-radius: 16px;
  background-color: var(--color-cornflowerblue);
  display: flex;
  flex-direction: row;
  padding: 2px 8px;
  align-items: center;
  justify-content: center;
}
.badge,
.footer-link2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge {
  align-items: flex-start;
  mix-blend-mode: normal;
  text-align: center;
  font-size: var(--font-size-xs);
}
.footer-link2 {
  align-items: center;
  gap: var(--gap-5xs);
}
.footer-links,
.footer-links-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-links {
  align-self: stretch;
  gap: var(--gap-xs);
  font-size: var(--heading-xs-size);
  color: var(--sky-white);
}
.footer-links-column {
  flex: 1;
  gap: var(--gap-16xl);
}
.button21 {
  overflow: hidden;
}
.content15,
.links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.links {
  flex: 1;
  gap: var(--gap-13xl);
}
.content15 {
  align-self: stretch;
  gap: var(--gap-45xl);
}
.footer-text {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-weight: 600;
}
.content16,
.social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.content16 {
  align-self: stretch;
  border-top: 1px solid rgba(241, 245, 249, 0.3);
  padding: var(--padding-13xl) 0 0;
  gap: var(--gap-13xl);
}
.container10,
.footer,
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.container10 {
  padding: 0 var(--padding-13xl);
  align-items: flex-start;
  font-size: var(--font-size-xs);
  color: rgba(203, 217, 237, 0.6);
}
.footer,
.homepage {
  align-items: center;
}
.footer {
  align-self: stretch;
  background-color: #0c2253;
  padding: var(--padding-45xl) 0 48px;
  gap: var(--gap-45xl);
  font-size: var(--heading-med-size);
  color: var(--blue);
}
.homepage {
  position: relative;
  background-color: var(--sky-white);
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--heading-xl-size);
  color: var(--secondary);
  font-family: var(--heading-xs);
}

div#carouselExampleIndicators ol.carousel-indicators {
    right: 8%;
    left: auto;
    margin: 0px;
    bottom: 20%;
}

div#carouselExampleIndicators ol.carousel-indicators li {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    color: #D0D5DD;
    background-color: #D0D5DD;
}
div#carouselExampleIndicators ol.carousel-indicators li.active {
  color: #A364D4;
  background-color: #A364D4;
}
a:-webkit-any-link:focus-visible {
    outline-offset: 0px!important;
    outline: none;
}
a .button9 .text {
    color: #2F1C68;
}
.social-proof-section {
    margin-top: 50px;
}
.features {
    margin-top: 50px;
}
.frame-wrapper:hover {
    cursor: pointer;
    border-radius: var(--br-xl);
    background-color: var(--sky-white);
    box-shadow: 0 8px 12px rgba(14, 131, 255, 0.08);
    border: 1px solid var(--color-cornflowerblue);
    box-sizing: border-box;
    overflow: hidden;
    padding: var(--padding-lgi) var(--padding-16xl);
    transform: scale(1.05);
    transition: all 0.5s;
}

.mobile-image {
    position: absolute;
    left: 57.3%;
    transform: translateX(-50%);
    top: 27%;
    max-width: 336px;
    height: auto;
}
.mobile-image img{
  animation: mymove 2s infinite;
  position: relative;
  width: 336px;
}

@keyframes mymove {
  0%   {top: 0px;}
  20%  {top: 10px;}
  40%  {top: 20px}
  60%  {top: 25px;}
  80%  {top: 10px}
  100% {top: 0px;}
}
.features-section {
    margin-top: 50px;
}
.owl-dots {
    display: none;
}
.item .container7 {
    margin: 0 auto;
}
.owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}
.owl-nav button.owl-prev {
    position: absolute;
    left: 10%;
}
.owl-nav button.owl-next {
    position: absolute;
    right: 10%;
}
button, button:focus, button:hover,
.owl-theme .owl-nav [class*=owl-]:hover{
  outline: none!important;
  background-color: transparent!important;
  background: transparent!important;
}
.owl-theme .owl-nav [class*=owl-]:hover,
.owl-theme .owl-nav [class*=owl-]{
    color: #3993ED!important;
}
.owl-carousel .owl-item img{width: auto!important;}
.cta-section {
    min-height: 600px;
    display: flex;
    align-items: center;
}
a .buttonprimarywith-icon5 .text {
    color: #fff;
}
.image-2-icon:hover {
    transform: scale(1.05);
    transition: all 0.2s;
    cursor: pointer;
}
.input-with-label input {
    width: 100%;
    height: 100%;
    border: none;
}
.input-with-label input:focus,
.input-with-label input{
  outline: none;
  border: none;
  box-shadow: none;
}
.footer .container10 {
    width: 100%;
    margin: 0 auto;
}
/*************************6/1/2023**************************/
a .button8 {
    color: #2F1C68;
}
nav.navbar.navbar-expand-lg {
    padding: 0px 0px;
}
div[class*="container"],
.features1{
    width: 1400px;
    padding: 0px 15px;
    box-sizing: border-box;
    align-items: flex-start;
    max-width: 100%;
}